.details-conteiner {
    background-color: rgb(255, 255, 255);
    color: black;
    display: inline-block;
  
   width: 30em;
   margin: auto;
   display: flex;
   
    
}
li {
    list-style-type: none;
}
.details-conteiner div {
    display: inline-block;
    margin-top: 1em;
}

.button {
    padding-left: 50px;
}

.button-edit {
    padding-right: 30px;
    text-align: center;
    margin-right: 20px;
}



.container .row ul.car-info li i {
	margin-right: 15px;
	font-size: 10px;
	text-transform: uppercase;
	display: inline-block;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	background-color: #f4c23d;
	color: #1e1e1e;
}

#test {
    display:block;
    overflow-wrap: break-word;
    padding-right: 30%;
}


.img-car {
    width: 300px;
}