* {
 
    margin: 0;
    /* padding: 0 0.5em; */
    outline: 0;
    box-sizing: border-box;
    font-family: 'Grenze', serif;
    font-size: 24px;
  }
  body {
    background: rgb(216, 216, 216);
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    height: 100vh; 
    
  }
  
  .menu-area li a {
    text-decoration: none;
  }
  
  .menu-area li {
    list-style-type: none;
  }
  
  .custom-padding{
    padding-top: 25px;
  }
  
  nav {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px 0;
    background: #333;
    z-index: 1;
    text-align: right;
    padding-right: 2%;
  }
  
  .logo {
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
  }
  
  .menu-area li {
    display: inline-block;
  }
  
  .menu-area a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
  }
  
  .menu-area a:hover {
    background: #ffa000;
    color: #fff;
  }
  
  .menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
  }
  
  nav:before {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-right: 10px solid #333;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
  }
  
  nav:after {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-left: 10px solid #333;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
  }
  
  
  /* ignore the code below */
  
  
  .link-area
  {
    position:fixed;
    bottom:20px;
    left:20px;  
    padding:15px;
    border-radius:40px;
    background:tomato;
  }
  .link-area a
  {
    text-decoration:none;
    color:#fff;
    font-size:25px;
  }

/* Footer */


  footer {
    /* position:fixed;
    left: 0;
    bottom: 0; */
    
    background: #333;
    color: white;
    margin-top: 1em;
    


}
.footer  {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0.5em;
}
.footer  a{
    padding: 0 2em;
    font-family: 'Grenze', serif;
}
footer p {
    display: block;
    text-align: center;
    color: white;
   
}
.footer  a:hover {
  background: #ffa000;
  color: #fff;
}
.footer a li {
  font-family: 'Grenze', serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
   
  padding-top: 1px;
}
/* Footer */

main {
  padding-top: 7vh;
  width: 100%;
  height: 655px;
  background: linear-gradient( #e6e8ebb3 100%, rgba(250, 249, 249, 0.5)100%), url("https://www.pngkey.com/png/detail/100-1008408_luxury-cars-png-jpg-black-and-white-luxury.png");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  color: white;
  display: inline-block;
}

main p.guest-message {
  color: white;
  margin-top: 40vh;
  text-align: center;
  font-size: 44px;
}

main p.guest-message a {
  color: white;
  font-size: 48px;
  color: #ffa000;
}

main p.guest-message a:hover {
  text-decoration: none;
}
/* Login and register */
form {
  padding-top: 10vh;
  padding-bottom: 17vh;
  text-align: center;
  color: #333;
  
}

label, input {
  display: block;
  color: #333;
  margin: 0 auto;
}

form button {
  margin-top: 2%;
  padding: 0.5%;
  background-color: #333;
  color: whitesmoke;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

form button:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #ffa000;
}

form h1 {
  font-size: 40px;
  text-decoration: underline;
  margin-bottom: 2%;
  color: #333;
}

form input {
  border: 1px solid white;
  border-radius: 6px;
  padding: 0.2%;
  width: 15%;
  color: 333;
}

form select, option {
  color: 333;
}

form select option {
  font-size: 18px;
}

form p {
  text-align: left;
  width: 15%;
  margin: 0 auto;
  margin-top: 1%;
  text-decoration: underline;
  font-weight: bold;
  color: #333;
}

form hr {
  width: 15%;
  margin: 0 auto;
  margin-top: 2%;
  color: white;
}

form div.form-control {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 1%;
  display: block;
}

form div.form-control label {
  float: left;
  width: 30%;
}

form div.form-control input, select {
  width: 68%;
}

form div.form-control #date, #total, #vault {
  width: 33%;
  text-align: left;
}

form div.form-control #date {
  margin: 0;
}

form div.form-control #total, #vault {
  display: inline-block;
}

label[for="report"], label[for="reimbursable"] {
  color: white;
  display: inline-block;
  text-align: center;
  ;
  font-size: 20px;
}
/* Login and register */

/* Not-found */

.not-found {
  text-align: center;
  font-size: 50px;
  color: #333;
}

img.sad-face {
  display: block;
  margin: 0 auto;
  margin-top: 0%;
}

/* Not-found */


