.conteiner-card {
   display: flex;
   flex-wrap: wrap;
   background: rgb(191, 194, 194);
   
  
  }
  .conteiner-card .card {
    display: block;
    flex: 0 0 200%;
    margin-bottom: 4%;
    overflow: hidden;
  }
  .conteiner-card .card img {
    position: relative;
    float: left;
    width:  300px;
    height: auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    color: #000;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button a {
    border: none;
    outline: 0;
    padding: 12px;
    color: #fd7e17;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  